Celery
Fabric
Flask
Glances
Jinja2
Pillow
PyYAML
Pygments
SQLAlchemy
Sphinx
Werkzeug
ansible
apache-libcloud
argparse
clint
csvkit
docopt
data_hacks
fabtools
fig
flask-restful
fuzzywuzzy
gevent
gnureadline
greenlet
gunicorn
httpie
ipython
jedi
lxml
matplotlib
mercurial
nltk
numpy
paramiko
path.py
pattern
pprintpp
psutil
pycrypto
pymongo
pyquery
pytest
python-dateutil
requests
scrapy
sh
six
stevedore
stormssh
sympy
termcolor
texttable
virtualenv
virtualenv-clone
virtualenvwrapper
watchdog
xlrd
xmpppy==0.5.0rc1
